#Persoenliche Ordner
Netbeans
Orga
Referenzen

# Latex
*.aux
*.log
*.out
*.bbl
*.blg
*.idx
*.toc
#*.pdf
*.gz
*.lof
*.lot
*.*~
*.nav
*.snm
*.auxlock

# Java
**/build/
/Programme/04/operators/nbproject/private/
/Programme/04/diphthong/nbproject/private/
/Programme/05/naturalscale/nbproject/private/
/Programme/05/composer/nbproject/private/
/Programme/05/composerscale/nbproject/private/
/Programme/05/draw/nbproject/private/
