#Persoenliche Ordner
Netbeans
Referenzen
Orga/2019-20/*
!Orga/2019-20/Plan
Abgabe
Pruefungen
TODO.txt

# Latex
*.aux
*.log
*.out
*.bbl
*.blg
*.idx
*.toc
#*.pdf
*.gz
*.lof
*.lot
*.*~
*.nav
*.snm
*.auxlock

# Java
**/build/
/Programme/01/nullstellen/nbproject/private/
/Programme/04/operators/nbproject/private/
/Programme/04/diphthong/nbproject/private/
/Programme/05/naturalscale/nbproject/private/
/Programme/05/composer/nbproject/private/
/Programme/05/composerscale/nbproject/private/
/Programme/05/draw/nbproject/private/
/Programme/06/propergreeting/nbproject/private/
/Programme/06/simplecalc/nbproject/private/
/Programme/08/loopnote/nbproject/private/
/Programme/08/fibonacci/nbproject/private/
/Programme/08/primenumber/nbproject/private/
/Programme/09/factorial/nbproject/private/
/Programme/09/simulation/nbproject/private/
/Programme/09/series/nbproject/private/